[*.{cs,csproj,props,targets,slnx}]
insert_final_newline = true

[*.cs]
csharp_style_namespace_declarations = file_scoped:warning
indent_style = space
end_of_line = crlf

[*.{csproj,props,targets,slnx}]
indent_style = tab
end_of_line = crlf
